.proj_container {
    height: 300px;
    border: 1px solid green;
    padding: 5px;
}

.proj_sub_container {
    margin: auto;
    position: relative;
    height: 90%;
    width: 80%;
    border: 1px solid red;
    padding: 5px;
}

.proj_content {
    position: absolute;
    top: 50%;
    background-color: #ccc;
}