.proj_container {
    display: flex;
    justify-content: center;
    height: 300px;
    border: 1px solid green;
    padding: 5px;
}

.proj_sub_container {
    display: flex;
    align-items: center;
    height: 90%;
    width: 80%;
    border: 1px solid red;
    padding: 5px;
}

.proj_content {
    width: 100%;
    background-color: #ccc;
}